.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo {
    width: 100px;
    height: 30px;
    float: left;
    position: relative;
    top: 10px;
    left: -30px;
}

.layout-logo img {
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.layout-nav {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 170px;
    position: relative;
}

.layout-nav div {
    width: 120px;
    height: 64px;
    line-height: 64px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.layout-nav .ivu-icon-md-log-out {
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .ivu-layout-sider-trigger {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    .layout-nav .ivu-icon-md-log-out {
        right: -40px;
    }
}
